# Encoding

In [ ]:
1. Label Encoding >> replace
2. One Hot Encoding
3. get_dummies
4. Hash Encoding
5. Binary Encoding
6. Target Mean Encoding

In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder , OneHotEncoder

In [2]:
df = pd.read_csv('autos_dataset.csv')
df.head().T

                             0            1            2      3      4
symboling                    3            3            1      2      2
normalized-losses            ?            ?            ?    164    164
make               alfa-romero  alfa-romero  alfa-romero   audi   audi
fuel-type                  gas          gas          gas    gas    gas
aspiration                 std          std          std    std    std
num-of-doors               two          two          two   four   four
body-style         convertible  convertible    hatchback  sedan  sedan
drive-wheels               rwd          rwd          rwd    fwd    4wd
engine-location          front        front        front  front  front
wheel-base                88.6         88.6         94.5   99.8   99.4
length                   168.8        168.8        171.2  176.6  176.6
width                     64.1         64.1         65.5   66.2   66.4
height                    48.8         48.8         52.4   54.3   54.3
curb-weight               2548         2548         2823   2337   2824
engine-type               dohc         dohc         ohcv    ohc    ohc
num-of-cylinders          four         four          six   four   five
engine-size                130          130          152    109    136
fuel-system               mpfi         mpfi         mpfi   mpfi   mpfi
bore                      3.47         3.47         2.68   3.19   3.19
stroke                    2.68         2.68         3.47    3.4    3.4
compression-ratio          9.0          9.0          9.0   10.0    8.0
horsepower                 111          111          154    102    115
peak-rpm                  5000         5000         5000   5500   5500
city-mpg                    21           21           19     24     18
highway-mpg                 27           27           26     30     22
price                    13495        16500        16500  13950  17450

In [3]:
df['fuel-type'].value_counts()

gas       185
diesel     20
Name: fuel-type, dtype: int64

In [4]:
df['aspiration'].value_counts()

std      168
turbo     37
Name: aspiration, dtype: int64

In [5]:
df['num-of-cylinders'].value_counts()

four      159
six        24
five       11
eight       5
two         4
twelve      1
three       1
Name: num-of-cylinders, dtype: int64

In [6]:
df['num-of-cylinders'].unique()

array(['four', 'six', 'five', 'three', 'twelve', 'two', 'eight'],
      dtype=object)

In [7]:
df['num-of-cylinders'].replace({'four':4, 'six':6, 'five':5, 'three':3, 'twelve':12, 'two':2, 'eight':8},inplace=True)

In [ ]:
eight:0
five:1
four:2
six:3
three:4
twelve:5
two:6

In [ ]:
CNG >> 0
Diesel >> 1
Petrol >> 2

In [ ]:
low > 0
medium > 1 
high > 2

In [ ]:
uptill 7 categorical values

# 1. Label Encoding

In [ ]:
It works by sorting the values and assigns no to it .
Replace:If you know the preference of values

In [8]:
df_test = pd.DataFrame({'Test':['high','medium','low','high','medium','high', 'low']})
df_test

     Test
0    high
1  medium
2     low
3    high
4  medium
5    high
6     low

In [9]:
label_enc = LabelEncoder()
label_enc.fit_transform(df_test['Test'])

array([0, 2, 1, 0, 2, 0, 1])

In [ ]:
high > 0
low > 1
medium > 2

In [10]:
label_enc = LabelEncoder()
df_test['Test']=label_enc.fit_transform(df_test['Test'])
df_test

   Test
0     0
1     2
2     1
3     0
4     2
5     0
6     1

In [11]:
df = pd.read_csv('autos_dataset.csv')
df.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.4,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.4,8.0,115,5500,18,22,17450

In [12]:
df['num-of-cylinders'].unique()

array(['four', 'six', 'five', 'three', 'twelve', 'two', 'eight'],
      dtype=object)

In [13]:
sorted(df['num-of-cylinders'].unique())

['eight', 'five', 'four', 'six', 'three', 'twelve', 'two']

In [14]:
label_enc = LabelEncoder()
label_enc.fit_transform(df['num-of-cylinders'])

array([2, 2, 3, 2, 1, 1, 1, 1, 1, 1, 2, 2, 3, 3, 3, 3, 3, 3, 4, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 3, 3, 5, 2, 2, 2, 2, 2, 6, 6, 6, 6, 2, 2, 2, 2, 2, 2, 2,
       2, 1, 1, 1, 1, 0, 0, 0, 0, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 0, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 3, 3, 3, 3, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 3, 3, 2])

In [15]:
df['num-of-cylinders'].values

array(['four', 'four', 'six', 'four', 'five', 'five', 'five', 'five',
       'five', 'five', 'four', 'four', 'six', 'six', 'six', 'six', 'six',
       'six', 'three', 'four', 'four', 'four', 'four', 'four', 'four',
       'four', 'four', 'four', 'four', 'four', 'four', 'four', 'four',
       'four', 'four', 'four', 'four', 'four', 'four', 'four', 'four',
       'four', 'four', 'four', 'four', 'four', 'four', 'six', 'six',
       'twelve', 'four', 'four', 'four', 'four', 'four', 'two', 'two',
       'two', 'two', 'four', 'four', 'four', 'four', 'four', 'four',
       'four', 'four', 'five', 'five', 'five', 'five', 'eight', 'eight',
       'eight', 'eight', 'four', 'four', 'four', 'four', 'four', 'four',
       'four', 'four', 'four', 'four', 'four', 'four', 'four', 'four',
       'four', 'four', 'four', 'four', 'four', 'four', 'four', 'four',
       'four', 'four', 'four', 'four', 'six', 'six', 'six', 'six', 'six',
       'six', 'four', 'four', 'four', 'four', 'four', 'four', 'four',
       'four', 'four', 'four', 'four', 'four', 'four', 'four', 'four',
       'four', 'four', 'four', 'four', 'six', 'six', 'six', 'eight',
       'four', 'four', 'four', 'four', 'four', 'four', 'four', 'four',
       'four', 'four', 'four', 'four', 'four', 'four', 'four', 'four',
       'four', 'four', 'four', 'four', 'four', 'four', 'four', 'four',
       'four', 'four', 'four', 'four', 'four', 'four', 'four', 'four',
       'four', 'four', 'four', 'four', 'four', 'four', 'four', 'four',
       'four', 'four', 'four', 'four', 'four', 'four', 'four', 'four',
       'six', 'six', 'six', 'six', 'four', 'four', 'four', 'four', 'four',
       'four', 'four', 'four', 'four', 'five', 'four', 'four', 'four',
       'four', 'four', 'four', 'four', 'four', 'four', 'four', 'six',
       'six', 'four'], dtype=object)

# 2. One Hot Encoding

In [ ]:
If you dont know the preference of values 
uptill 4-5 , max_7 categorical values

In [20]:
from sklearn.preprocessing import OneHotEncoder 
one_hot_enc = OneHotEncoder()

In [19]:
one_hot_enc = OneHotEncoder()
array=one_hot_enc.fit_transform(df[['aspiration']]).toarray()
df_Asp = pd.DataFrame(array)
df_Asp.columns = ['std','turbo']
df_Aspdf

NameError: name 'df_Aspdf' is not defined

In [25]:
df['num-of-doors'].unique()

array(['two', 'four', '?'], dtype=object)

In [26]:
array=one_hot_enc.fit_transform(df[['num-of-doors']]).toarray()
df_nd = pd.DataFrame(array)
df_nd.columns = ['Two','Four','Six']
df_nd

     Two  Four  Six
0    0.0   0.0  1.0
1    0.0   0.0  1.0
2    0.0   0.0  1.0
3    0.0   1.0  0.0
4    0.0   1.0  0.0
..   ...   ...  ...
200  0.0   1.0  0.0
201  0.0   1.0  0.0
202  0.0   1.0  0.0
203  0.0   1.0  0.0
204  0.0   1.0  0.0

[205 rows x 3 columns]

In [27]:
new_df = df.join(df_nd)
new_df

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price,Two,Four,Six
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,2.68,9.0,111,5000,21,27,13495,0.0,0.0,1.0
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,2.68,9.0,111,5000,21,27,16500,0.0,0.0,1.0
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,3.47,9.0,154,5000,19,26,16500,0.0,0.0,1.0
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,3.4,10.0,102,5500,24,30,13950,0.0,1.0,0.0
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,3.4,8.0,115,5500,18,22,17450,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,3.15,9.5,114,5400,23,28,16845,0.0,1.0,0.0
201,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,3.15,8.7,160,5300,19,25,19045,0.0,1.0,0.0
202,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,2.87,8.8,134,5500,18,23,21485,0.0,1.0,0.0
203,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,3.4,23.0,106,4800,26,27,22470,0.0,1.0,0.0
204,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,3.15,9.5,114,5400,19,25,22625,0.0,1.0,0.0

In [28]:
df['aspiration'] = one_hot_enc.fit_transform(df[['aspiration']]).toarray()
df

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,1.0,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,1.0,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,1.0,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,1.0,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.4,10.0,102,5500,24,30,13950
4,2,164,audi,gas,1.0,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.4,8.0,115,5500,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95,volvo,gas,1.0,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
201,-1,95,volvo,gas,0.0,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
202,-1,95,volvo,gas,1.0,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
203,-1,95,volvo,diesel,0.0,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.4,23.0,106,4800,26,27,22470
204,-1,95,volvo,gas,0.0,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

In [32]:
df_asp1 = pd.get_dummies(df, columns=['aspiration'],drop_first=True)
df_asp1

,symboling,normalized-losses,make,fuel-type,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,...,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price,aspiration_turbo
0,3,?,alfa-romero,gas,two,convertible,rwd,front,88.6,168.8,...,mpfi,3.47,2.68,9.0,111,5000,21,27,13495,0
1,3,?,alfa-romero,gas,two,convertible,rwd,front,88.6,168.8,...,mpfi,3.47,2.68,9.0,111,5000,21,27,16500,0
2,1,?,alfa-romero,gas,two,hatchback,rwd,front,94.5,171.2,...,mpfi,2.68,3.47,9.0,154,5000,19,26,16500,0
3,2,164,audi,gas,four,sedan,fwd,front,99.8,176.6,...,mpfi,3.19,3.4,10.0,102,5500,24,30,13950,0
4,2,164,audi,gas,four,sedan,4wd,front,99.4,176.6,...,mpfi,3.19,3.4,8.0,115,5500,18,22,17450,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95,volvo,gas,four,sedan,rwd,front,109.1,188.8,...,mpfi,3.78,3.15,9.5,114,5400,23,28,16845,0
201,-1,95,volvo,gas,four,sedan,rwd,front,109.1,188.8,...,mpfi,3.78,3.15,8.7,160,5300,19,25,19045,1
202,-1,95,volvo,gas,four,sedan,rwd,front,109.1,188.8,...,mpfi,3.58,2.87,8.8,134,5500,18,23,21485,0
203,-1,95,volvo,diesel,four,sedan,rwd,front,109.1,188.8,...,idi,3.01,3.4,23.0,106,4800,26,27,22470,1
204,-1,95,volvo,gas,four,sedan,rwd,front,109.1,188.8,...,mpfi,3.78,3.15,9.5,114,5400,19,25,22625,1

In [36]:
df_asp2 = pd.get_dummies(df, columns=['num-of-cylinders'],drop_first=True)
df_asp2

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,peak-rpm,city-mpg,highway-mpg,price,num-of-cylinders_five,num-of-cylinders_four,num-of-cylinders_six,num-of-cylinders_three,num-of-cylinders_twelve,num-of-cylinders_two
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,5000,21,27,13495,0,1,0,0,0,0
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,5000,21,27,16500,0,1,0,0,0,0
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,5000,19,26,16500,0,0,1,0,0,0
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,5500,24,30,13950,0,1,0,0,0,0
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,5500,18,22,17450,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,5400,23,28,16845,0,1,0,0,0,0
201,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,5300,19,25,19045,0,1,0,0,0,0
202,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,5500,18,23,21485,0,0,1,0,0,0
203,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,4800,26,27,22470,0,0,1,0,0,0
204,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,5400,19,25,22625,0,1,0,0,0,0

In [35]:
df['num-of-cylinders'].unique()

array(['four', 'six', 'five', 'three', 'twelve', 'two', 'eight'],
      dtype=object)

In [ ]:
                high      medium    low
high              1         0        0
medium            0         1        0  
low               0         0        1
high              1         0        0 
medium            0         1        0
medium            0         1        0
low               0         0        1

In [37]:
df_test = pd.DataFrame({'Test':['high','medium','low','high','medium','high', 'low']})
df_test

     Test
0    high
1  medium
2     low
3    high
4  medium
5    high
6     low

In [38]:
df_test_1 = pd.get_dummies(df_test,columns=['Test'])
df_test_1

   Test_high  Test_low  Test_medium
0          1         0            0
1          0         0            1
2          0         1            0
3          1         0            0
4          0         0            1
5          1         0            0
6          0         1            0

In [39]:
df_test_1 = pd.get_dummies(df_test,columns=['Test'],prefix = 'Risk')
df_test_1

   Risk_high  Risk_low  Risk_medium
0          1         0            0
1          0         0            1
2          0         1            0
3          1         0            0
4          0         0            1
5          1         0            0
6          0         1            0

In [40]:
df_test_1 = pd.get_dummies(df_test,columns=['Test'],prefix_sep=' ',prefix = 'Risk')
df_test_1

   Risk high  Risk low  Risk medium
0          1         0            0
1          0         0            1
2          0         1            0
3          1         0            0
4          0         0            1
5          1         0            0
6          0         1            0

In [41]:
df1 = pd.DataFrame({'Name':['Ram','priyanka', 'sagar', 'nishant', 'ajay', 'sunny', 'Radhika'],
                   'Gender':['male','female','male','male','male', 'male','female'],
                   'Health':['weak','fit','strong','fit','fit','strong', 'weak']})
df1

       Name  Gender  Health
0       Ram    male    weak
1  priyanka  female     fit
2     sagar    male  strong
3   nishant    male     fit
4      ajay    male     fit
5     sunny    male  strong
6   Radhika  female    weak

In [42]:
df2 = pd.get_dummies(df1, columns=['Gender', 'Health'])
df2

,Name,Gender_female,Gender_male,Health_fit,Health_strong,Health_weak
0,Ram,0,1,0,0,1
1,priyanka,1,0,1,0,0
2,sagar,0,1,0,1,0
3,nishant,0,1,1,0,0
4,ajay,0,1,1,0,0
5,sunny,0,1,0,1,0
6,Radhika,1,0,0,0,1

In [43]:
df2 = pd.get_dummies(df1, columns=['Gender', 'Health'],drop_first=True)
df2

       Name  Gender_male  Health_strong  Health_weak
0       Ram            1              0            1
1  priyanka            0              0            0
2     sagar            1              1            0
3   nishant            1              0            0
4      ajay            1              0            0
5     sunny            1              1            0
6   Radhika            0              0            1

In [ ]:
kaggel,openml dataset,data.world, 
https://archive.ics.uci.edu/ml/datasets.php?format=&task=&att=&area=&numAtt=10to100&numIns=&type=ts&sort=nameUp&view=table